AppConsola/.idea/
AppConsola/.metadata
AppConsola/bin/
AppConsola/tmp/
ApipConsola/.settings/

*.jar
*.war
*.ear

*.class


nbdist/

nbproject/private/
build/
nbbuild/

.classpath
.project
.settings/

.DS_Store

/AppJsp/target/
/AppJsp/.idea/
/AppConsola/target/
/UsersApi/target/
